# composer
/controller/vendor/**
# cache
/view/cache/**
# params
.env
.htaccess
# backup
*.bak
# production
/production/**
/controller/public_html/css/external/**
/controller/public_html/js/external/**
# other
/resources/**
/logs
