<footer class="uk-padding-small">
	<ul class="uk-align-left">
		<li><a href="#">docs</a></li>
		<li><a href="#">services</a></li>
		<li><a href="#">authors</a></li>
	</ul>
	<span>Developed by <a href="https://github.com/sagleft" rel="nofollow" target="_blank">Sagleft</a></span>
</footer>
<script src="https://cdn.jsdelivr.net/npm/uikit@3.3.3/dist/js/uikit.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/uikit@3.3.3/dist/js/uikit-icons.min.js"></script>
