<footer>
	<div class="container py-5">
		<div class="row">
			<div class="col-6 col-md-6 col-lg-3 mb-2">
				<h6 class="text-uppercase">Copyright</h6>
				<ul class="nav flex-column">
					<li><a class="text-white" target="ext" rel="nofollow" href="https://mfcoin.net" title="Powered by MFCoin">Powered by MFCoin</a></li>
					<li><a class="text-white" target="ext" rel="nofollow" href="https://sagleft.ru" title="Developed by Sagleft">Developed by Sagleft</a></li>
				</ul>
			</div>
			<div class="col-6 col-md-6 col-lg-3 mb-2">
				{#<h6 class="text-uppercase">INFO</h6>
				<ul class="nav flex-column">
					<li><a class="text-white" href="/info/fund" title="Фонд проекта MFCoin Faucet и его спонсоры">Фонд проекта</a></li>
				</ul>#}
			</div>
			<div class="col-12 col-md-12 col-lg-6 mb-2 text-right">
				<h6 class="text-uppercase">Follow</h6>
				<ul class="nav float-right">
					<li><a class="text-white mr-2" rel="nofollow" href="https://twitter.com/mfcoin" title="Follow on Twitter"><i class="h1 fa fa-fw fa-twitter fa-2x ion-logo-twitter"></i></a></li>
					{#<li><a class="text-white mr-2" rel="nofollow" href="https://www.facebook.com/mfcoin" title="Follow on Facebook"><i class="h1 fa fa-fw fa-facebook fa-2x ion-logo-facebook"></i></a></li>#}
					<li><a class="text-white mr" rel="nofollow" href="https://github.com/Sagleft/MFCenter" title="Follow on GitHub"><i class="h1 fa fa-fw fa-facebook fa-2x ion-logo-github"></i></a></li>
				</ul>
			</div>
		</div>
		<!--/row-->
	</div>
</footer>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
