<div class="uk-light">
  <nav class="uk-navbar-container navbar-colored" uk-navbar>
      <div class="uk-navbar-center">

          <ul class="uk-navbar-nav">
              <li{% if page.tag == 'home' %} class="uk-active"{% endif %}><a href="/">Home</a></li>
              <li{% if page.tag == 'services' %} class="uk-active"{% endif %}><a href="/route/services">Services</a></li>
              <li{% if page.tag == 'api' %} class="uk-active"{% endif %}><a href="/route/api">API</a></li>
          </ul>
      </div>
  </nav>
</div>
