<div class="bg-primary">
	<div class="container">
		<div class="row align-items-center vh-50 py-5">
			<div class="col-xl-5 col-lg-6 ml-auto py-2 text-light order-2 text-center text-lg-left">
				<h1 class="mb-0">
					<span>Шаблон</span>
				</h1>
				<p class="lead mb-3">Текст</p>
			</div>
			{#<div class="col-xl-4 col-lg-6 col mr-auto order-1 order-lg-last align-items-center justify-content-center justify-content-lg-end d-flex">
				 <div class="img-fluid text-white"></div>
			</div>#}
		</div>
	</div>
</div>