<div class="uk-section uk-section-muted">
    <div class="uk-container">

        <h3>MFCenter</h3>

        <div class="uk-grid-match uk-child-width-1-3@m" uk-grid>
            <div>
                <p><span uk-icon="info"></span> MFCenter is a site for working with MFCoin services: smart contracts, wallet, sub-services and so on</p>
            </div>
            <div>
                <p><span uk-icon="happy"></span> MFCenter is also a platform for social interaction of participants: find the people you need, team up with them to work together</p>
            </div>
            <div>
              <p><span uk-icon="credit-card"></span> MFCenter is also a joint business of its participants: create your own startups or invest in projects that interest you.</p>
            </div>
            {# <span uk-icon="sign-in"></span> Sign in to access your account and smart contracts #}
        </div>

    </div>
</div>
