body {
	background: black;
	min-height: 100vh;
	margin: 0;
	padding: 0;
}

footer {
	padding: 1rem;
	color: #eceeec;
	text-align: right;
}

footer a {
	color: #ec5353;
	font-weight: bold;
}

.white-wrap {
	background: white;
}

.uk-navbar-nav {
	font-weight: bold;
}

.navbar-colored {
	background: #d33 !important;
}

.text-center {
	text-align: center;
}

.service-section > p {
	margin-bottom: 0.5rem!important;
}
