<!DOCTYPE html>
<html lang="ru">
	{% include 'parts/head.tmpl' %}
	<body>
		{% include 'parts/navbar.tmpl' %}
		{% include 'parts/promo.tmpl' %}
		<div class="white-wrap">
			<h3 class="pt-3 text-center">under construction</h3><br/>
		</div>
		{% include 'parts/footer.tmpl' %}
	</body>
</html>
